<footer class="footer text-center">
    All Rights Reserved by Nice admin. Designed and Developed by

</footer>

<script src="{{ url_for('static', filename='libs/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ url_for('static', filename='libs/popper.js/dist/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- apps -->
<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.init.js') }}"></script>
<script src="{{ url_for('static', filename='js/app-style-switcher.js') }}"></script>

<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ url_for('static', filename='libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='extra-libs/sparkline/sparkline.js') }}"></script>

<!--Wave Effects -->
<script src="{{ url_for('static', filename='js/waves.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
<!-- This Page JS -->
<script src="{{ url_for('static', filename='extra-libs/prism/prism.js') }}"></script>
<!-- datatables plugins -->
<script src="{{ url_for('static', filename="extra-libs/datatables.net/js/jquery.dataTables.min.js") }}"></script>
<script src="{{ url_for('static', filename="extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/pages/datatable/datatable-basic.init.js") }}"></script>

